body {
    
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;

}

#header {
    
    background-image: url(./img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    
}

#header:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#navbar {
    background-color: rgba(0, 0, 0, 0.6);
}

.nav-item > a  {
    color: white;
}

.nav-item a:focus {
    color: rgb(168, 114, 43);
}

.nav-item a:hover {
    color: #d9ba85;
}

#hero {
    width: 100%;
    height: 100vh;
    background: url("../img/about.jpg") top center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: 0;
  }
  #hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  #hero .container {
    padding-top: 110px;
  }


  #saludo h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    font-family: "Poppins", sans-serif;
  }
  #saludo h1 span {
    color: #cda45e;
  }
  #saludo h2 {
    color: #eee;
    margin-bottom: 10px 0 0 0;
    font-size: 22px;
  }